.App {
  font-family: sans-serif;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.user-details-container {
  text-align: center;
}

.user-details {
  text-align: left;
}

.UserList {
  display: flex;
  flex-wrap: wrap;
}

.user-details-wrapper {
  display: flex;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

img {
  padding: 5px;
  border-radius: 10px;
  margin: 5px auto;
}

ul {
  list-style: none;
  padding: 10px;
}

li {
  line-height: 1.25;
}
