.App {
  font-family: sans-serif;
  margin-left: 10px;
}

.UserList {
  display: flex;
  flex-wrap: wrap;
}

.userContainer {
  display: flex;
  justify-content: space-between;
  width: 450px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

img {
  padding: 5px;
  border-radius: 10px;
}

li {
  line-height: 1.25;
}
